.aspect-ratio-parent{
  position: relative;
  width: 100%;
}

.aspect-ratio{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.crop-container{
  background: $white;
  margin: 0 auto;
}