.carousel-offer{
  height: 200px;
  width: 400px;
  border-left: 3px solid $green;
  background-color: rgba(24, 24, 24, 0.54);;
  margin: auto 0;
  padding: 30px;
}

.home-food{
  margin: 30px;
  color: white;
}

.home-food-image{
  position: absolute;
  z-index: -200;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-discover{
  margin-top: 30px;
  color: white;
  height: 400px;
  background: fixed url("../assets/home-discover.jpg") center center no-repeat;
  background-size: cover;
}

.home-discover-content{
  width: 100%;
  height: 100%;
  background-color: rgba(10, 12, 18, 0.55);
}