#recipe-time{
  padding: 10px;
  border-left: 3px solid $green;
  font-size: 15px;
}

#recipe-title{
  margin-bottom: 30px;
  color: #474747;
}

#recipe-date{
  color: #a4a4a4;
  font-size: 14px;
}

.recipe-step-number{
  width: 60px;
}

h1, h2, h3, h4, h5 {
  font-weight:600;
}

.recipe-ingredient{
  font-weight:600;
  margin-bottom: 30px;
}

.comment-input{
  height: 52px;
  width: 100%;
  background-color: $white;
  border-left: 3px solid $white;
  transition-duration: .5s;
  padding: 10px 30px;
}

.comment-input:focus{
  border-left: 3px solid $green;
}

.comment-date{
  color: #a4a4a4;
  font-size: 14px;
}
.comment-name{
  font-weight: 600;
}

a.edit{
  font-style: italic;
  color: black;
  cursor: pointer;

  &:hover{
    color: #4d4d4d;
  }
}

.recipe-image-preview{
  border-bottom: 3px solid $green;
}