.page-top{
  text-align: center;
  margin: 0 4%;
  height: 190px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.page-top h2{
  font-size: 30px;
  font-weight: 600;
}